.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
}
 
.home-container2 {
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.home-container3 {
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.home-link1 {
  text-decoration: none;
}
 
.home-link2 {
  text-decoration: none;
}
 
.home-link3 {
  text-decoration: none;
}
 
.home-image1 {
  width: 200px;
  object-fit: cover;
}
 
.home-image2 {
  width: 200px;
  object-fit: cover;
}
 
.home-link4 {
  text-decoration: none;
}
 
.home-image3 {
  width: 200px;
  object-fit: cover;
}
 
.home-container4 {
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.home-image4 {
  width: 200px;
  object-fit: cover;
  border-radius: 70%;
}
 
.home-link5 {
  display: contents;
}
 
.home-container5 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon3 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text24 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 479px) {
  .home-container1 {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    background-image: linear-gradient(to bottom, #5BCEFA 0%, #FFFFFF 50%, #F5A9B8 75%);
  }
  .home-container2 {
    left: -1px;
    width: 478px;
    bottom: 91px;
    height: 304px;
    position: absolute;
    padding-left: 0px;
  }
  .home-text10 {
    top: 7px;
    left: 187px;
    position: absolute;
    font-size: 20px;
    font-family: Metropolis-Black;
  }
  .home-ul {
    top: 16px;
    left: 0px;
    position: absolute;
  }
  .home-li1 {
    width: 453px;
    height: 15px;
    position: relative;
    text-align: center;
    font-family: Metropolis-Bold;
  }
  .home-text11 {
    top: -1px;
    left: 185px;
    position: absolute;
    font-size: 18px;
    font-family: Metropolis-ExtraBold;
  }
  .home-text14 {
    font-family: Metropolis-Bold;
    line-height: 1.75;
  }
  .home-text15 {
    font-family: Metropolis-Regular;
    line-height: 1.3;
  }
  .home-text16 {
    font-family: Metropolis-Regular;
  }
  .home-text17 {
    font-family: Metropolis-Regular;
  }
  .home-text18 {
    font-family: Metropolis-Regular;
  }
  .home-text19 {
    font-family: Metropolis-Regular;
  }
  .home-container3 {
    top: 286px;
    left: -1px;
    width: 478px;
    height: 281px;
    position: fixed;
  }
  .home-link1 {
    top: 289px;
    left: 121px;
    color: rgb(115, 138, 219);
    width: 247px;
    height: 56px;
    position: fixed;
    text-align: left;
    font-family: Metropolis-Bold;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius8);
    padding-right: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    background-color: rgb(28, 43, 94);
  }
  .home-icon1 {
    top: 11px;
    fill: var(--dl-color-theme-neutral-dark);
    left: 132px;
    color: #ffffff;
    width: 40px;
    height: 41px;
    position: absolute;
    padding-right: 0px;
  }
  .home-link2 {
    top: 361px;
    fill: #0b8ad2;
    left: 123px;
    color: #0b8ad2;
    width: 247px;
    height: 56px;
    position: fixed;
    text-align: left;
    font-family: Metropolis-Bold;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius8);
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: rgb(13, 43, 78);
  }
  .home-link3 {
    top: 147px;
    fill: #0b8ad2;
    left: 122px;
    color: #d2990b;
    width: 247px;
    height: 56px;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Metropolis-Bold;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius8);
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #1c1c1c;
  }
  .home-image1 {
    top: 80px;
    left: 131px;
    width: 40px;
    position: absolute;
  }
  .home-image2 {
    top: 142px;
    left: 122px;
    width: 61px;
    height: 65px;
    position: absolute;
  }
  .home-link4 {
    top: 218px;
    fill: #0b8ad2;
    left: 123px;
    color: rgb(210, 153, 11);
    width: 247px;
    height: 56px;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Metropolis-Bold;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius8);
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #1c1c1c;
  }
  .home-image3 {
    top: 222px;
    left: 132px;
    width: 42px;
    height: 47px;
    position: absolute;
  }
  .home-container4 {
    width: 478px;
    height: 347px;
  }
  .home-text20 {
    top: 181px;
    left: 144px;
    width: 205px;
    height: 50px;
    position: absolute;
    text-align: center;
    font-family: Metropolis-ExtraBold;
  }
  .home-text21 {
    top: 242px;
    left: 212px;
    color: rgb(223, 85, 223);
    position: absolute;
    font-size: 18px;
    text-align: center;
    font-family: Metropolis-RegularItalic;
  }
  .home-text22 {
    top: 219px;
    left: 145px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    font-family: Metropolis-RegularItalic;
  }
  .home-image4 {
    top: 29px;
    left: 171px;
    width: 150px;
    height: 152px;
    display: grid;
    position: absolute;
    border-color: rgba(25, 24, 24, 0);
    border-width: 1px;
  }
  .home-text23 {
    left: 162px;
    color: #ffffff;
    bottom: 4px;
    position: absolute;
    font-size: 8px;
    font-family: Metropolis-ThinItalic;
  }
}
