.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom, #5BCEFA 0%, #FFFFFF 50%, #F5A9B8 75%);
}
 
.home-container2 {
  left: -0.20920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092vw;
  width: 1vh;
  bottom: 9.1vh;
  height: 30.4vh;
  position: fixed;
  padding-left: 0vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.home-text10 {
  top: 60.7vh;
  left: 31.380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138vw;
  width: 35.774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577vw;
  height: 2.5vh;
  position: fixed;
  font-size: 2vh;
  text-align: center;
  font-family: Metropolis-Black;
}

.home-text11 {
  top: 63.2vh;
  left: 44.560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456vw;
  position: fixed;
  font-size: 1.8vh;
  font-family: Metropolis-ExtraBold;
}
 
.home-text14 {
  top: 72.1vh;
  left: 5.4393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439vw;
  position: fixed;
  font-family: Metropolis-Regular;
  }
.home-text15 {
  top: 63.2vh;
  left: 44.560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456vw;
  position: fixed;
  font-size: 1.8vh;
  font-family: Metropolis-ExtraBold;
  }
.home-text18 {
  top: 74.5vh;
  left: 5.4393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439vw;
  position: fixed;
  font-family: Metropolis-Regular;
  }
.home-text19 {
  top: 69.9vh;
  left: 5.4393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439330543933054393305439vw;
  position: fixed;
  font-family: Metropolis-Regular;
  }
 
.home-container3 {
  width: 41.841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184vw;
  height: 10vh;
  display: grid;
  position: fixed;
  grid-template-columns: 1fr 1fr;
}
 
.home-text20 {
  top: 18vh;
  left: 28.242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824vw;
  width: 42.887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029289vw;
  height: 5vh;
  position: fixed;
  text-align: center;
  font-family: "Metropolis-ExtraBold";
}
 
.home-image1 {
  top: 2.8vh;
  left: 34.10041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841vw;
  width: 31.380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138vw;
  position: fixed;
  object-fit: cover;
  border-radius: 70%;
  width: 31.380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138vw;
  height: 15.2vh;
  display: grid;
  position: fixed;
  border-color: rgba(25, 24, 24, 0);
  border-width: 1px;
}
 
.home-text21 {
  top: 21.8vh;
  left: 27.615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062762vw;
  height: auto;
  position: fixed;
  font-size: 1.8vh;
  text-align: center;
  font-family: "Metropolis-RegularItalic";
}
 
.home-text22 {
  top: 2.4vh;
  left: 41.841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184vw;
  color: rgb(223, 85, 223);
  position: fixed;
  font-size: 1.8vh;
  text-align: center;
  font-family: "Metropolis-RegularItalic";
}
 
.home-text23 {
  top: 99vh;
  left: 33.891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389vw;
  color: #ffffff;
  bottom: .4vh;
  position: fixed;
  font-size: .8vh;
  font-family: Metropolis-ThinItalic;
}
 
.home-container4 {
  top: 28.6vh;
  left: -0.20920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092vw;
  width: 100vw;
  height: 28.1vh;
  position: fixed;
}
 
.home-link1 {
  top: 29vh;
  left: 23.849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372385vw;
  color: rgb(115, 138, 219);
  width: 51.673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167vw;
  height: 5.6vh;
  position: fixed;
  text-align: fixed;
  font-family: "Metropolis-Bold";
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  border-radius: Radius8;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: rgb(28, 43, 94);
}
 
.home-icon1 {
  top: 29.7vh;
  fill: var(--dl-color-theme-neutral-dark);
  left: 25.941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594vw;
  color: #ffffff;
  width: 8.3682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368vw;
  height: 4.1vh;
  position: fixed;
  padding-right: 0px;
}
 
.home-link2 {
  top: 36.2vh;
  fill: #0b8ad2;
  left: 23.849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372385vw;
  color: rgb(11, 138, 210);
  width: 51.673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167vw;
  height: 5.6vh;
  position: fixed;
  text-align: left;
  font-family: Metropolis-Bold;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: rgb(13, 43, 78);
}
 
.home-link3 {
  top: 43.4vh;
  fill: #0b8ad2;
  left: 23.94957983193277310924369747899159663865546218487394957983193277310924369747899159663865546218487394957983193277310924369747899159663865546218487394957983193277310924369747899159663865546218487394958vw;
  color: #d2990b;
  width: 51.673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167vw;
  height: 5.6vh;
  position: fixed;
  font-size: 1.6vh;
  text-align: left;
  font-family: Metropolis-Bold;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: #1c1c1c;
}
 
.home-image2 {
  top: 36.6vh;
  left: 25.941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594vw;
  width: 8.3682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368vw;
  height: 4.5vh;
  position: fixed;
}
 
.home-image3 {
  top: 42.9vh;
  left: 23.430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343vw;
  width: 12.761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276vw;
  height: 6.5vh;
  position: fixed;
  }
.home-image4 {
  top: 50.7vh;
  left: 25.732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573vw;
  width: 4.2vh;
  height: 9.8326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359833vw;
  z-index: 1;
  position: fixed;
  }
.home-link4 {
    top: 50.2vh;
    fill: #0b8ad2;
    left: 24.267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782427vw;
    color: rgb(210, 153, 11);
    width: 51.673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167vw;
    height: 5.6vh;
    position: fixed;
    font-size: 1.6vh;
    text-align: left;
    font-family: Metropolis-Bold;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius8);
    padding-right: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    background-color: rgb(28, 28, 28);
 
.home-link5 {
  display: contents;
}
 
.home-container5 {
  right: 10.460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046vw;
  border: 1px solid #ffffff5c;
  bottom: 3vh;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: .8vh;
  padding-left: 2.510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251vw;
  border-radius: 8px;
  padding-right: 2.510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251vw;
  padding-bottom: .8vh;
  backdrop-filter: blur(.6vh);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon3 {
  width: 5.0209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205021vw;
  margin-right: 0.83682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368vw;
}

 
@media(max-width: 991px) {
  .home-li3 {
    font-family: Metropolis-Regular;
  }
  .home-text16 {
    font-family: Metropolis-Regular;
  }
  .home-text17 {
    font-display: auto;
  }
  .home-text18 {
    font-family: Metropolis-Regular;
  }
  .home-text19 {
    font-family: Metropolis-Regular;
  }
}
 
@media(max-width: 767px) {
  .home-li3 {
    font-family: Metropolis-Regular;
  }
  .home-text16 {
    font-family: Metropolis-Regular;
  }
  .home-text17 {
    font-family: Metropolis-Regular;
  }
  .home-text18 {
    font-family: Metropolis-Regular;
  }
  .home-text19 {
    font-family: Metropolis-Regular;
  }
}
 
@media(max-width: 479px) {
  .home-container1 {
    width: 100%;
    box-shadow: 1.0460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046vw 1.0460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046vw 1vh 0vh #d4d4d4;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 0.20920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092vw;
    background-image: linear-gradient(to bottom, #5BCEFA 0%, #FFFFFF 50%, #F5A9B8 75%);
  }
  .home-container2 {
    left: -0.20920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092vw;
    width: 1vh;
    bottom: 9.1vh;
    height: 30.4vh;
    position: fixed;
    padding-left: 0px;
  }
  .home-text10 {
    top: 60.7vh;
    left: 31.380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138vw;
    width: 35.774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577405857740585774058577vw;
    height: 2.5vh;
    position: fixed;
    font-size: 2vh;
    text-align: center;
    font-family: Metropolis-Black;
  }
  .home-ul {
    top: 1.6vh;
    left: 0vw;
    position: fixed;
  }
  .home-li1 {
    width: 495.39748953974895397489539748953974895397489539748953974895397489539748953974895397489539748953974895397489539748953974895397489539748953974895397489539748953974895397489539748953974895397489539748954vw;
    height: 1.5vh;
    position: relative;
    text-align: center;
    font-family: Metropolis-Bold;
  }
  .home-text11 {
    top: 63.2vh;
    left: 44.560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456066945606694560669456vw;
    position: fixed;
    font-size: 1.8vh;
    font-family: Metropolis-ExtraBold;
  }
  .home-text14 {
    font-family: Metropolis-Bold;
    line-height: .175vh;
  }
  .home-li3 {
    font-family: Metropolis-Regular;
  }
  .home-text15 {
    font-family: Metropolis-Regular;
    line-height: .13vh;
  }
  .home-text16 {
    font-family: Metropolis-Regular;
  }
  .home-text17 {
    font-family: Metropolis-Regular;
  }
  .home-text18 {
    font-family: Metropolis-Regular;
  }
  .home-text19 {
    font-family: Metropolis-Regular;
  }
  .home-container3 {
    top: -.2vh;
    right: -1.0460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046025104602510460251046vw;
    width: 100vw;
    height: 34.7vh;
    position: fixed;
  }
  .home-text20 {
    top: 18vh;
    left: 28.242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824vw;
    width: 42.887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029288702928870292887029289vw;
    height: 5vh;
    position: fixed;
    text-align: center;
    font-family: Metropolis-ExtraBold;
  }
  .home-image1 {
    top: 2.8vh;
    left: 34.10041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841vh;
    width: 31.380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138vw;
    position: fixed;
    object-fit: cover;
    border-radius: 70%;
    width: 31.380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138075313807531380753138vw;
    height: 15.2vh;
    display: grid;
    position: fixed;
    border-color: rgba(25, 24, 24, 0);
    border-width: 0.20920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092vw;
  }
  .home-text21 {
    top: 21.8vh;
    left: 27.615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062762vw;
    height: auto;
    position: fixed;
    font-size: 1.8vh;
    text-align: center;
    font-family: Metropolis-RegularItalic;
  }
  .home-text22 {
    top: 23.8vh;
    left: 41.841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184100418410041841004184vw;
    color: rgb(223, 85, 223);
    position: fixed;
    font-size: 1.8vh;
    text-align: center;
    font-family: Metropolis-RegularItalic;
  }
  .home-text23 {
    top: 99vh;
    left: 33.891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389121338912133891213389vw;
    color: #ffffff;
    bottom: .4vh;
    position: fixed;
    font-size: .8vh;
    font-family: Metropolis-ThinItalic;
  }
  .home-container4 {
    top: 28.6vh;
    left: -0.20920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092050209205020920502092vw;
    width: 100vw;
    height: 28.1vh;
    position: fixed;
  }
  .home-link1 {
    top: 29vh;
    left: 23.849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372385vw;
    color: rgb(115, 138, 219);
    width: 51.673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167vw;
    height: 5.6vh;
    position: fixed;
    text-align: left;
    font-family: Metropolis-Bold;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    border-radius: Radius8;
    padding-right: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    background-color: rgb(28, 43, 94);
  }
  .home-icon1 {
    top: 29.7vh;
    fill: var(--dl-color-theme-neutral-dark);
    left: 25.941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594vw;
    color: #ffffff;
    width: 8.3682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368vw;
    height: 4.1vh;
    position: fixed;
    padding-right: 0px;
  }
  .home-link2 {
    top: 36.2vh;
    fill: #0b8ad2;
    left: 23.849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372384937238493723849372385vw;
    color: rgb(11, 138, 210);
    width: 51.673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167vw;
    height: 5.6vh;
    position: fixed;
    text-align: left;
    font-family: Metropolis-Bold;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius8);
    padding-right: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    background-color: rgb(13, 43, 78);
  }
  .home-link3 {
    top: 43.4vh;
    fill: #0b8ad2;
    left: 23.94957983193277310924369747899159663865546218487394957983193277310924369747899159663865546218487394957983193277310924369747899159663865546218487394957983193277310924369747899159663865546218487394958vw;
    color: #d2990b;
    width: 51.673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167vw;
    height: 5.6vh;
    position: fixed;
    font-size: 1.6vh;
    text-align: left;
    font-family: Metropolis-Bold;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius8);
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #1c1c1c;
  }
  .home-image2 {
    top: 36.6vh;
    left: 25.941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594142259414225941422594vw;
    width: 8.3682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368200836820083682008368vw;
    height: 4.5vh;
    position: fixed;
  }
  .home-image3 {
    top: 42.9vh;
    left: 23.430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343096234309623430962343vw;
    width: 12.761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276150627615062761506276vw;
    height: 6.5vh;
    position: fixed;
  }
  .home-image4 {
    top: 50.7vh;
    left: 25.732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573221757322175732217573vw;
    width: 4.2vh;
    height: 9.8326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359832635983263598326359833vw;
    z-index: 1;
    position: fixed;
  }
  .home-link4 {
    top: 50.2vh;
    fill: #0b8ad2;
    left: 24.267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782426778242677824267782427vw;
    color: rgb(210, 153, 11);
    width: 51.673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167364016736401673640167vw;
    height: 5.6vh;
    position: fixed;
    font-size: 1.6vh;
    text-align: left;
    font-family: Metropolis-Bold;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius8);
    padding-right: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    background-color: rgb(28, 28, 28);
  }
}
